<% [pinned_post | recent_posts] = @posts %>

<div class="posts">
  <h1 class="content-subhead">Pinned Post</h1>
  <%= render JellyShot.SharedView, "post.html", post: pinned_post %>
</div>

<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>
  <%= for post <- recent_posts do %>
    <%= render JellyShot.SharedView, "post.html", post: post %>
  <% end %>
</div>
