 <div class="content">
  <div class="content-sheet">
    <div class="posts">
      <h1 class="content-subhead"><%= @headline %></h1>
      <%= for post <- @posts do %>
        <%= render JellyShot.SharedView, "post.html", post: post %>
      <% end %>
    </div>
  </div>
</div>
