<!-- post/list.html.eex -->
<%= if Enum.empty? @posts do %>
  <span>Nothing here</span>
<% else %>
  <%= for post <- @posts do %>
    <%= render JellyShot.SharedView, "post.html", post: post %>
  <% end %>
<% end %>
