<div class="content">
  <div class="content-sheet">
    <%= if @post.image do %>
      <div class="post-header-image-container" style="background: url('<%= @post.image %>') <%= @post.image_position %>"></div>
    <% end %>

    <h1><%= @post.title %></h1>

    <article><%= raw @post.content %></article>
  </div>
</div>
