<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bundle.css") %>">

    <%=
      render_existing(@view_module, "meta." <> @view_template, assigns) ||
      render(JellyShot.LayoutView, "meta.html", assigns)
    %>

  </head>

  <body>
    <div class="sidebar">
      <div class="header">
        <div class="blog-avatar">
          <img src="<%= static_path(@conn, "/assets/me.jpg") %>" alt="Erik M&uuml;ller"/>
        </div>

        <a href="/">
          <h1 class="blog-title">DevLock</h1>
        </a>
        <h2 class="blog-tagline">smarty thoughts</h2>

        <nav>
          <ul class="nav-list">
            <%= for category <- get_categories() do %>
              <li class="nav-list-item nav-list-item-category">
                <a href="/posts?category=<%= category %>"><%= category %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <%= render @view_module, @view_template, assigns %>

    <div class="footer">
      <ul class="nav-list">
        <li class="nav-list-item nav-list-item-social">
          <a target="_blank" href="http://twitter.com/air2ick/">Twitter</a>
        </li>
        <li class="nav-list-item nav-list-item-social">
          <a target="_blank" href="http://github.com/erikmueller/">GitHub</a>
        </li>
        <li class="nav-list-item nav-list-item-social">
          <a href="/cv">Curriculum Vitae</a>
        </li>
      </ul>
    </div>

    <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
  </body>
</html>
