<!DOCTYPE html>
<html lang="en">

<head>
  <title>Asymptomatic</title>
  <link rel="preload" href="<%= static_path(@conn, "/css/vendor.css") %>" as="style" onload="this.rel='stylesheet'">
  <link rel="prefetch" href="<%= static_path(@conn, "/js/bundle.js") %>" type="script">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile specific metas
     ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%=
      render_existing(@view_module, "meta." <> @view_template, assigns) ||
      render(JellyShot.LayoutView, "meta.html", assigns)
    %>

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">

  <script defer src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
</head>

<body>

  <!-- Header
     ================================================== -->
  <header id="top">

    <div class="row">

      <div class="header-content twelve columns">

        <h1 id="logo-text"><a href="/" title="">Asymptomatic</a></h1>
        <p id="intro">There must me intelligent life down here...</p>

      </div>

    </div>

    <nav id="nav-wrap">

      <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

      <div class="row">

        <ul id="nav" class="nav">
          <li class="current"><a href="/">Home</a></li>
          <li class="has-children"><a href="#">Dropdown</a></li>
          <li><a href="demo.html">Demo</a></li>
          <li><a href="archives.html">Archives</a></li>
          <li class="has-children"><a href="single.html">Blog</a>
            <ul>
              <li><a href="blog.html">Blog Entries</a></li>
              <li><a href="single.html">Single Blog</a></li>
            </ul>
          </li>
          <li><a href="page.html">Page</a></li>
        </ul> <!-- end #nav -->

      </div>

    </nav> <!-- end #nav-wrap -->

  </header> <!-- Header End -->

  <!-- Content
     ================================================== -->
  <div id="content-wrap">

    <div class="row">

      <div id="main" class="eight columns">

        <%= render @view_module, @view_template, assigns %>

      </div> <!-- end main -->

      <div id="sidebar" class="four columns">

        <div class="widget widget_search">
          <h3>Search</h3>
          <form action="#">

            <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
            <input type="submit" value="" class="submit-search">

          </form>
        </div>

        <div class="widget widget_categories group">
          <h3>Categories.</h3>
          <ul>
            <%= for category <- get_categories() do %>
            <li><a href="/posts?category=<%= category %>">
                <%= category %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="widget widget_text group">
          <h3>Widget Text.</h3>

          <p>Lorem ipsum Ullamco commodo laboris sit dolore commodo aliquip incididunt fugiat esse dolor aute fugiat minim eiusmod do velit labore fugiat officia ad sit culpa labore in consectetur sint cillum sint consectetur voluptate adipisicing
            Duis irure magna ut sit amet reprehenderit.</p>

        </div>

        <div class="widget widget_tags">
          <h3>Post Tags.</h3>

          <div class="tagcloud group">
            <a href="#">Corporate</a>
            <a href="#">Onepage</a>
            <a href="#">Agency</a>
            <a href="#">Multipurpose</a>
            <a href="#">Blog</a>
            <a href="#">Landing Page</a>
            <a href="#">Resume</a>
          </div>

        </div>

        <div class="widget widget_popular">
          <h3>Popular Post.</h3>

          <ul class="link-list">
            <li><a href="#">Sint cillum consectetur voluptate.</a></li>
            <li><a href="#">Lorem ipsum Ullamco commodo.</a></li>
            <li><a href="#">Fugiat minim eiusmod do.</a></li>
          </ul>

        </div>

      </div> <!-- end sidebar -->

    </div> <!-- end row -->

  </div> <!-- end content-wrap -->


  <!-- Footer
================================================== -->
  <footer>

    <div class="row">

      <div class="twelve columns">
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-github-square"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-skype"></i></a></li>
        </ul>
      </div>

      <div class="six columns info">

        <h3>About Keep It Simple</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
          Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
          nibh id elit.
        </p>

        <p>Lorem ipsum Sed nulla deserunt voluptate elit occaecat culpa cupidatat sit irure sint
          sint incididunt cupidatat esse in Ut sed commodo tempor consequat culpa fugiat incididunt.</p>

      </div>

      <div class="four columns">

        <h3>Photostream</h3>

        <ul class="photostream group">
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
          <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
        </ul>

      </div>

      <div class="two columns">
        <h3 class="social">Navigate</h3>

        <ul class="navigate group">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Demo</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <p class="copyright">&copy; Copyright 2014 Keep It Simple. &nbsp; Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>

    </div> <!-- End row -->

    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

  </footer> <!-- End Footer-->


  <script>
    // Firefox doesn't seem to support the `onload` event on `link`
    document.querySelector('head').insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">')
  </script>
</body>

</html>
