<title>Jellyshot - hardly static</title>
<meta name="author" content="Erik" />
<meta name="description" content="Some smarty thoughts" />
<link rel="canonical" href="https://jellyshot.herokuapp.com" />
