pre {
  font-family: 'Monaco', monospace;
  line-height: 1.3em;
  font-size: 1.2em;
}

code.inline {
  position: relative;
  background: #ddd;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  bottom: 2px;
}

.header {
  text-align: center;
  top: auto;
  padding: 1em 0;
  margin: 0;
}

.sidebar {
  background: #444;
  color: #fff;
}

.blog {
  &-avatar {
    float: left;

    & img {
      height: 120px;
      margin-left: 1em;
    }
  }

  &-title {
    text-transform: uppercase;
    color: white;
    font-size: 2.4em;
    margin: .1em 0 0 0;
    font-weight: 400;
    font-family: 'Oxygen Mono'
  }

  &-tagline {
    margin: 0 0 .5em 0;
    font-size: 2em;
    font-weight: 300;
    color: #ef7900;
    font-variant: small-caps;
    font-family: 'Oxygen Mono';
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    display: inline;
    color: #aaa;

    &:not(:first-child):before {
      content: '|';
    }

    &-category {
      a {
        color: #ccc;
        letter-spacing: 0.05em;
        font-variant-caps: small-caps;
        text-transform: capitalize;
        font-size: 1.1em;
      }
    }

    &-social {
      a {
        color: #ccc;
        font-size: 85%;
      }
    }
  }
}

.content {
  padding: 1em 1em 0;
  text-align: justify;

  h1,
  h2,
  h3,
  h4 {
    text-align: left;
    line-height: 1.2em;
    font-weight: 400;
  }

  &-sheet {
    padding: 1em;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  &-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

.post {
  padding-bottom: 2em;

  &-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
  }

  &-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
  }

  &-header-image {
    width: 100%;

    &-container {
      height: 100px;
      overflow-y: hidden;
    }
  }

  &-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;

    &-elixir {
      background: #745882;
    }

    &-javascript {
      color: #333;
      background: #f0db4f;
    }
  }
}

.footer {
  padding: 1em 0;
  margin: 0;
  text-align: center;
  background: #444;
  color: #fff;
}
